.Header {
    background-color: rgb(184, 205, 50);
    color: #222;
    padding: 0.1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100vw;

   .Brand {
    flex: 1;
    background-color: red;
   }

    .Nav {
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        align-content: center;
         &-link {
            color: #222;
            padding: 0.5rem;
        }
    }
}
